.footer {
    width: 100vw;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    background-color: black;
    color: white;
    border-top: 2px solid red;
}

.footer h2 {
    font-size: 1rem;
    font-weight: 500;
}