@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(9px);
    border-bottom: 1.8px solid rgba(255, 255, 255, 0.2);
    z-index: 100;
}
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transition: 0.5s;
}
header:hover::before {
    left: 100%;
}

.logo {
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 30px;
}
nav a:hover {
    color: goldenrod
}

#menu-icon {
    font-size: 34px;
    color: white;
    display: none;
}

/*BREAKPOINTS*/
@media (max-width: 992px) {
    header {
        padding: 1.25rem 4%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    nav {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0.5rem 4%;
        display: none;
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        margin: 1.5rem 0px;
    }

    .nav-bg {
        position: fixed;
        top: 11.8%;
        left: 0;
        width: 100%;
        height: 295px;
        background: rgba(255, 255, 255, 0.1);
        border-bottom: 1.8px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(9px);
        z-index: 99;
        display: none;
    }

    .nav-bg.active {
        display: block;
    }
}

body {
    min-height: 100vh;
    background: url('images/background-honeycomb.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
